/* ================================================== */
/*                      Variables                     */
/* ================================================== */
:root {
    --header-height: 50px;
    --footer-height: 50px;
}

/* ================================================== */
/*                       Common                       */
/* ================================================== */
* {
    margin: 0;
    padding: 0;
}

/* ================================================== */
/*                     Positions                      */
/* ================================================== */
.tq-pos-fixed {
    position: fixed;
}

.tq-pos-absolute {
    position: absolute;
}

.tq-pos-relative {
    position: relative;
}

.tq-float-left {
    float: left !important;
}

.tq-float-right {
    float: right !important;
}

/* ================================================== */
/*                         Text                       */
/* ================================================== */
.tq-text-center {
    text-align: center;
}

.tq-text-right {
    text-align: right;
}

.tq-text-upper {
    text-transform: uppercase;
}

/* ================================================== */
/*                  Header and footer                 */
/* ================================================== */
.tq-fixed-header,
.tq-fixed-footer {
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}

.tq-fixed-header {
    top: 0;
}

.tq-fixed-footer {
    bottom: 0;
    /*bottom: 50px;*/
    margin-bottom: 0;
}

/* ================================================== */
/*                        Layout                      */
/* ================================================== */
.tq-fixed-content {
    top: var(--header-height);
    bottom: 0;
    /*bottom: var(--footer-height);*/
    /*bottom: 0;*/
    left: 0;
    right: 0;
    position: fixed;
    overflow-y: auto;
}

.tq-container {
    left: 0;
    right: 0;
    padding: 10px 0;
}

.tq-row {
    display: table;
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
}

.tq-1-col, .tq-2-col, .tq-3-col, .tq-4-col, .tq-5-col, .tq-6-col,
.tq-7-col, .tq-8-col, .tq-9-col, .tq-10-col, .tq-11-col, .tq-12-col {
    width: 100%;
    position: relative;
    float: left;
    min-height: 1px;
    display: table-row;
}

.tq-1-col {
    max-width: 8.333333%;
}

.tq-2-col {
    max-width: 16.666667%;
}

.tq-3-col {
    max-width: 25%;
}

.tq-4-col {
    max-width: 33.333333%;
}

.tq-5-col {
    max-width: 41.666667%;
}

.tq-6-col {
    max-width: 50%;
}

.tq-7-col {
    max-width: 58.333333%;
}

.tq-8-col {
    max-width: 66.666667%;
}

.tq-9-col {
    max-width: 75%;
}

.tq-10-col {
    max-width: 83.333333%;
}

.tq-11-col {
    max-width: 91.666667%;
}

.tq-12-col {
    max-width: 100%;
}

.tq-1-offset {
    margin-left: 8.333333% !important;
}

.tq-2-offset {
    margin-left: 16.666667% !important;
}

.tq-3-offset {
    margin-left: 25% !important;
}

.tq-4-offset {
    margin-left: 33.333333% !important;
}

.tq-5-offset {
    margin-left: 41.666667% !important;
}

.tq-6-offset {
    margin-left: 50% !important;
}

.tq-7-offset {
    margin-left: 58.333333% !important;
}

.tq-8-offset {
    margin-left: 66.666667% !important;
}

.tq-9-offset {
    margin-left: 75% !important;
}

.tq-10-offset {
    margin-left: 83.333333% !important;
}

.tq-11-offset {
    margin-left: 91.666667% !important;
}

.tq-12-offset {
    margin-left: 100% !important;
}

.tq-sm-show, .tq-md-show, .tq-lg-show,
.tq-sm-only-show, .tq-md-only-show, .tq-lg-only-show {
    display: none !important;
}

/* ================================================== */
/*                   Small Screen                     */
/* ================================================== */
@media (max-width: 600px) {
    .tq-sm-show, .tq-sm-only-show {
        display: block !important;
    }

    .tq-1-sm-col, .tq-2-sm-col, .tq-3-sm-col, .tq-4-sm-col, .tq-5-sm-col, .tq-6-sm-col,
    .tq-7-sm-col, .tq-8-sm-col, .tq-9-sm-col, .tq-10-sm-col, .tq-11-sm-col, .tq-12-sm-col {
        width: 100%;
        position: relative;
        float: left;
        min-height: 1px;
        display: table-row;
    }

    .tq-1-sm-col {
        max-width: 8.333333%;
    }

    .tq-2-sm-col {
        max-width: 16.666667%;
    }

    .tq-3-sm-col {
        max-width: 25%;
    }

    .tq-4-sm-col {
        max-width: 33.333333%;
    }

    .tq-5-sm-col {
        max-width: 41.666667%;
    }

    .tq-6-sm-col {
        max-width: 50%;
    }

    .tq-7-sm-col {
        max-width: 58.333333%;
    }

    .tq-8-sm-col {
        max-width: 66.666667%;
    }

    .tq-9-sm-col {
        max-width: 75%;
    }

    .tq-10-sm-col {
        max-width: 83.333333%;
    }

    .tq-11-sm-col {
        max-width: 91.666667%;
    }

    .tq-12-sm-col {
        max-width: 100%;
    }

    .tq-1-sm-offset {
        margin-left: 8.333333% !important;
    }

    .tq-2-sm-offset {
        margin-left: 16.666667% !important;
    }

    .tq-3-sm-offset {
        margin-left: 25% !important;
    }

    .tq-4-sm-offset {
        margin-left: 33.333333% !important;
    }

    .tq-5-sm-offset {
        margin-left: 41.666667% !important;
    }

    .tq-6-sm-offset {
        margin-left: 50% !important;
    }

    .tq-7-sm-offset {
        margin-left: 58.333333% !important;
    }

    .tq-8-sm-offset {
        margin-left: 66.666667% !important;
    }

    .tq-9-sm-offset {
        margin-left: 75% !important;
    }

    .tq-10-sm-offset {
        margin-left: 83.333333% !important;
    }

    .tq-11-sm-offset {
        margin-left: 91.666667% !important;
    }

    .tq-12-sm-offset {
        margin-left: 100% !important;
    }
}


/* ================================================== */
/*                    Medium Screen                   */
/* ================================================== */
@media (min-width: 601px) and (max-width: 992px) {
    .tq-md-only-show {
        display: block !important;
    }
}

@media (min-width: 601px) {
    .tq-md-show {
        display: block !important;
    }

    .tq-1-md-col, .tq-2-md-col, .tq-3-md-col, .tq-4-md-col, .tq-5-md-col, .tq-6-md-col,
    .tq-7-md-col, .tq-8-md-col, .tq-9-md-col, .tq-10-md-col, .tq-11-md-col, .tq-12-md-col {
        width: 100%;
        position: relative;
        float: left;
        min-height: 1px;
        display: table-row;
    }

    .tq-1-md-col {
        max-width: 8.333333%;
    }

    .tq-2-md-col {
        max-width: 16.666667%;
    }

    .tq-3-md-col {
        max-width: 25%;
    }

    .tq-4-md-col {
        max-width: 33.333333%;
    }

    .tq-5-md-col {
        max-width: 41.666667%;
    }

    .tq-6-md-col {
        max-width: 50%;
    }

    .tq-7-md-col {
        max-width: 58.333333%;
    }

    .tq-8-md-col {
        max-width: 66.666667%;
    }

    .tq-9-md-col {
        max-width: 75%;
    }

    .tq-10-md-col {
        max-width: 83.333333%;
    }

    .tq-11-md-col {
        max-width: 91.666667%;
    }

    .tq-12-md-col {
        max-width: 100%;
    }

    .tq-1-md-offset {
        margin-left: 8.333333% !important;
    }

    .tq-2-md-offset {
        margin-left: 16.666667% !important;
    }

    .tq-3-md-offset {
        margin-left: 25% !important;
    }

    .tq-4-md-offset {
        margin-left: 33.333333% !important;
    }

    .tq-5-md-offset {
        margin-left: 41.666667% !important;
    }

    .tq-6-md-offset {
        margin-left: 50% !important;
    }

    .tq-7-md-offset {
        margin-left: 58.333333% !important;
    }

    .tq-8-md-offset {
        margin-left: 66.666667% !important;
    }

    .tq-9-md-offset {
        margin-left: 75% !important;
    }

    .tq-10-md-offset {
        margin-left: 83.333333% !important;
    }

    .tq-11-md-offset {
        margin-left: 91.666667% !important;
    }

    .tq-12-md-offset {
        margin-left: 100% !important;
    }
}


/* ================================================== */
/*                    Large Screen                    */
/* ================================================== */
@media (min-width: 993px) {
    .tq-lg-show, .tq-lg-only-show {
        display: block !important;
    }

    .tq-1-lg-col, .tq-2-lg-col, .tq-3-lg-col, .tq-4-lg-col, .tq-5-lg-col, .tq-6-lg-col,
    .tq-7-lg-col, .tq-8-lg-col, .tq-9-lg-col, .tq-10-lg-col, .tq-11-lg-col, .tq-12-lg-col {
        width: 100%;
        position: relative;
        float: left;
        min-height: 1px;
        display: table-row;
    }

    .tq-1-lg-col {
        max-width: 8.333333%;
    }

    .tq-2-lg-col {
        max-width: 16.666667%;
    }

    .tq-3-lg-col {
        max-width: 25%;
    }

    .tq-4-lg-col {
        max-width: 33.333333%;
    }

    .tq-5-lg-col {
        max-width: 41.666667%;
    }

    .tq-6-lg-col {
        max-width: 50%;
    }

    .tq-7-lg-col {
        max-width: 58.333333%;
    }

    .tq-8-lg-col {
        max-width: 66.666667%;
    }

    .tq-9-lg-col {
        max-width: 75%;
    }

    .tq-10-lg-col {
        max-width: 83.333333%;
    }

    .tq-11-lg-col {
        max-width: 91.666667%;
    }

    .tq-12-lg-col {
        max-width: 100%;
    }

    .tq-1-lg-offset {
        margin-left: 8.333333% !important;
    }

    .tq-2-lg-offset {
        margin-left: 16.666667% !important;
    }

    .tq-3-lg-offset {
        margin-left: 25% !important;
    }

    .tq-4-lg-offset {
        margin-left: 33.333333% !important;
    }

    .tq-5-lg-offset {
        margin-left: 41.666667% !important;
    }

    .tq-6-lg-offset {
        margin-left: 50% !important;
    }

    .tq-7-lg-offset {
        margin-left: 58.333333% !important;
    }

    .tq-8-lg-offset {
        margin-left: 66.666667% !important;
    }

    .tq-9-lg-offset {
        margin-left: 75% !important;
    }

    .tq-10-lg-offset {
        margin-left: 83.333333% !important;
    }

    .tq-11-lg-offset {
        margin-left: 91.666667% !important;
    }

    .tq-12-lg-offset {
        margin-left: 100% !important;
    }
}

.tq-input:focus + .tq-floating-label,
.tq-input:not(focus):valid + .tq-floating-label {
    top: 8px;
    bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 1;
}

.tq-h-center {
    margin-left: 50%;
    overflow-x: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tq-v-center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tq-center {
    margin-left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

